<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Unofficial GitHub Release Button</title>
    <meta name="author" content="Pierre Cassat">
    <meta name="description" content="A dynamic last release button for any GitHub repository with version number and tarball link.">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="page.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1><small>Introducing the unofficial</small><br>GitHub Release Button</h1>
        <div class="lead">
            A dynamic customizable "<em>last release</em>" button for any <a href="http://github.com/">GitHub</a> repository with version number and tarball link.
            Releases must follow the <a href="http://semver.org/">Semantic Versioning specifications</a>.
        </div>
    </div>
    {{ content }}
    <br class="clear-fix">
</div>
<footer class="footer">
    <div class="container">
        <p class="text-muted">
            <em>GitHub Realease Button</em> is made by <a href="http://github.com/piwi">@piwi</a> with love.
            <br class="hidden-xs hidden-sm">
            Sources are available on <a href="https://github.com/piwi/github-release-btn">GitHub</a> and licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2</a>.
        </p>
    </div>
</footer>
<script>
    function loadFrame(url) {
        document.getElementById('github-release-frame').setAttribute('src', 'github-release-btn.html?' + url);
//    document.getElementById('github-release-frame-img').setAttribute('src', 'github-release-btn.svg?' + url);
        return false;
    }
</script>
</body>
</html>